<header class="header">
	<div class="header__container">
		<img
			src="/icons/main-logo.svg"
			alt="main-logo"
			class="header__logo"
		/>

		<div class="header__links">
			<a href="#" class="header__link">
				<div class="header__link-text">
					ALL PRODUCTS
				</div>
			</a>

			<div class="header__links-border"></div>

			<a href="#" class="header__link">
				<div class="header__link-text">
					ABOUT SEEDRA
				</div>
			</a>

			<div class="header__links-border"></div>

			<a href="#" class="header__link">
				<div class="header__link-text">OUR BLOG</div>
			</a>

			<div class="header__links-border"></div>

			<a href="#" class="header__link">
				<div class="header__link-text">CONTACTS</div>
			</a>
		</div>

		<div class="header__right-container">
			<div class="header__socials">
				<img
					src="/icons/insta-logo.svg"
					alt="insta-icon"
					class="header__social"
				/>

				<img
					src="/icons/facebook-logo.svg"
					alt="facebook-icon"
					class="header__social"
				/>
			</div>

			<div class="header__search">
				<img
					src="/icons/search-icon.svg"
					alt="search-icon"
					class="header__search-icon"
				/>

				<input type="text" class="header__input" />
			</div>
			<div class="header__utils">
				<a href="#" class="header__util">
					<img
						src="/icons/favourites-icon.svg"
						alt="favourites-icon"
						class="header__util-icon"
					/>
				</a>

				<a href="#" class="header__util">
					<img
						src="/icons/cart-icon.svg"
						alt="cart-icon"
						class="header__util-icon"
					/>
				</a>

				<div class="header__burger-container">
					<div class="header__burger-icon">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="header__burger-menu"></div>
				</div>
			</div>
		</div>
	</div>
</header>
