* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

input,
button,
textarea {
	background: transparent;
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: none;
	-moz-appearance: textfield;
}

button {
	cursor: pointer;
	transition: var(--link-transition);
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	transition: var(--link-transition);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a {
	color: inherit;
}

ul li {
	list-style: none;
}

img {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

li {
	list-style-type: none;
}

html,
body {
	font-family: Inter;
	background: var(--dark-blue);
	color: var(--text-white);
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

#root {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.open {
	overflow: hidden;
}
