:root {
	--white: #ffffff;
	--pale-white: rgb(239, 239, 239);
	--dark-grey: rgba(207, 207, 207, 1);
	--dark-grey-025: rgba(207, 207, 207, 0.25);
	--grey: rgb(112, 115, 124);
	--dark-green: rgb(79, 160, 131);
}
